*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

li{
  list-style: none;
}