*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
