.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.green{
  color: rgb(28, 150, 109);
}
.navLinks{
  display: flex;
  align-items: center;
  gap: 1.5em;
}