@import './base.css';


nav {
    display: flex;
    padding: 18px 0;
    padding: 13px 8px;
    justify-content: space-between;
}

nav a {
    cursor: pointer;
}

nav > div {
    display: flex;
    gap: 15px;
    align-items: center;
}

#brand {
    font-weight: 800;
    color:rgb(0, 180, 171)
}

.wrapper {
    height: 50vh;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-blend-mode: multiply;
    background: url('./header.jpg') rgba(37, 29, 29, 0.712) no-repeat center center;
}

.wrapper h1 {
    font-weight: 600;
}

.wrapper a {
    padding: 8px 14px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 8px;
    background-color: rgb(0, 180, 171);
}

.wrapper a:hover {
    background-color: rgba(0, 180, 171, 0.801);
    transition: 0.4s ease-in-out;
}

.cta {
    color: #ffffff;
    padding: 0.8px 13px;
    border-radius: 4px;
    background-color: #e94a36;
}